/* General */
/* This is for a header that will fill the viewport's height, minus 40px for the navbar
header {
    height: calc(100vh - 40px);
    height: calc(100svh - 40px);
}
This is the colour scheme
Black: 000000
Vista Blue: 7F95D1
Tickle me pink: FF82A9
Melon: FFC0BE
Misty rose: FFEBE7
*/
body {
    font-family: Arial;
    margin-top: 40px;
    position: relative;
}
section {
    padding: 0 5% 1rem 5%;
}
section .heading {
    padding-top: 1rem;
}
a:focus {
    scroll-margin: 40px;
    color: white;
    background: red;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    z-index: 9999;
    height: 40px;
}
.navbar h3 {
    margin: 0;
    padding: 0;
}
.nav-link {
    height: 30px;
    margin: auto;
    padding: 3px 10px;
    border-radius: 5px;
}
.nav-link.active {
    color: black;
    background-color: #FF82A9;
}
.navbar a:focus {
    scroll-margin: 40px;
    color: white;
    background: red;
}
@media (max-width: 666px) {
    .nav-link {
        padding: 5px 8px;
    }
}

/* Navbar & Footer */
.navbar, .footer {
    background: black;
    font-size: 16px;
    margin: 0;
    padding: 0 10px;
}
@media (max-width: 666px) {
    .navbar, .footer {
        font-size: 14px;
        padding: 0 3px;
    }
    .navbar h3, .footer h3 {
        font-size: 20px;
    }
}
.navbar code, .footer code {
    color: #7F95D1;
}
.navbar a, .footer p {
    color: #FF82A9;
}

/* Intro */
.intro {
    background-color: #FFEBE7;
}
.intro h1 {
    color: #7F95D1;
}
.intro__text {
    margin: auto;
}

/* Skills */
.skills {
    background-color: #FFC0BE;
}

/* Carousel */
.carousel {
    width: 100%;
}
.carousel__item {
    object-fit: contain;
}
.carousel__img {
    object-fit: contain;
}
.carousel__text {
    background-color: rgba(0,0,0,0.5);
    padding: 4px 4px;
}

/* Web */
.web {
    background-color: #FFEBE7;
}
.web__heading {
    padding-top: 1%;
}

/* Games */
.games {
    background-color: #FFC0BE;
}
.games__heading {
    padding-top: 1%;
}

/* Contact */
.contact {
    background-color: #FFEBE7;
}
.contact__heading {
    padding-top: 1%;
}