/* General */
/* This is for a header that will fill the viewport's height, minus 5 for the navbar
header {
    height: 95vh;
    height: 95svh;
}*/
body {
    font-family: Arial;
    margin-top: 5vh;
    position: relative;
}
section, footer {
    margin-left: 5%;
    margin-right: 5%;
}
a:focus {
    scroll-margin: 5vh;
    background: red;
}


/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 5vh;
    background: black;
    font-size: 2vh;
}
.nav-link.active {
    color: red;
    background-color: rgb(116, 60, 234);
}

/* Intro */

/* Carousel */
.carousel {
    width: 100%;
}
.carousel__item {
    object-fit: contain;
}
.carousel__img {
    object-fit: contain;
}

/* Web */
.web__heading {
    padding-top: 1%;
}

/* Games */
.games__heading {
    padding-top: 1%;
}

/* Contact */
.contact__heading {
    padding-top: 1%;
}

/* Socials */
.socials {
    clear: left;
    width: 91%;
}